[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8
[submodule "lib/lurker"]
	path = lib/lurker
	url = https://github.com/rxi/lurker
[submodule "lib/lume"]
	path = lib/lume
	url = https://github.com/rxi/lume
[submodule "lib/lovebird"]
	path = lib/lovebird
	url = https://github.com/rxi/lovebird
[submodule "lib/HooECS"]
	path = lib/HooECS
	url = https://github.com/Hooodini/HooECS
[submodule "lib/bump.lua"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua
[submodule "lib/Simple-Tiled-Implementation"]
	path = lib/sti/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "sti"]
	path = lib/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/gamera"]
	path = lib/gamera
	url = https://github.com/kikito/gamera
[submodule "lib/scrale"]
	path = lib/scrale
	url = https://github.com/MartyMaro/scrale/
